@model CS872_WebApp.Models.StandardViewModel


@{
    ViewBag.Title = "Index";
}
<h1>Login Page</h1>

<div class="row">
    <br />
    @using (Html.BeginForm("Index", "UserAccount", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <fieldset>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.emailAddress, new { @class = "col-lg-2 control-label" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(m => m.emailAddress, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.emailAddress, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.userPassword, new { @class = "col-lg-2 control-label" })
                <div class="col-lg-10">
                    @Html.PasswordFor(m => m.userPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.userPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </div>
        </fieldset>
    }
</div>

