@model CS872_WebApp.Models.AdminViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AdminViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.firstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.firstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.city)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.city)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.province)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.province)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.postalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.postalCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.emailAddress">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
